doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    link(rel="stylesheet" href="/css/styles.css")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title #{title}
  body.dashboard
    h1#myHeading #{title}

    div.rooms
      each room in rooms
        div.room
          label.switch
            input(id="room-on-off-" + room.id class='on-off' type='checkbox' data-room-id=room.id checked=room.state.any_on)
            span.slider.round
          h2.room-name #{room.name}
          input.brightness(id="brightness-" + room.id type="range" min=0 max=254 data-room-id=room.id)

          .room-image &nbsp;
          .room-overlay(id="room-overlay-" + room.id) &nbsp;

          .scene-container
            .scenes
              each scene in room.scenes
                img.scene-image(src=scene.imageUrl title=scene.name data-room-id=room.id data-scene-id=scene.id)


  script(src='/js/app.js')
